.commentContainer {
	display: grid;
	gap: 32px;
	grid-template-columns: max-content 1fr;
	border-bottom: 1px solid rgba(140, 146, 179, 0.25);
	padding-bottom: 32px;
}

.lastComment {
	border-bottom: none;
}

.avatarImageContainer {
	min-width: 40px;
}

.avatarImage {
	border-radius: 50%;
}

.commentUserData {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 17px;
}

.commentUsername {
	font-weight: 400;
}

.commentReply {
	color: var(--blue-color);
	font-weight: 600;
}
