.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--dark-blue-color);
	padding-right: 16px;
	padding-left: 24px;
	border-radius: 10px;
}

.headerDetails {
	display: flex;
	align-items: center;
	gap: 21px;
}

.headerDetails h3 {
	color: var(--white-color);
}

.headerDetails h3 i {
	margin-right: 14px;
}

@media screen and (max-width: 920px) {
	.headerDetails {
		gap: 0px;
	}

	.headerDetails h3 i {
		margin-right: 0px;
	}
}

@media screen and (max-width: 530px) {
	.header {
		padding-right: 24px;
		border-radius: 0px;
		gap: 44px;
	}

	.headerDetails h3 {
		display: none;
	}
}
