.layout {
	width: 100%;
	min-height: 100vh;
	background-color: var(--light-white-color);
}

.layoutContainer {
	margin: 0 auto;
}

.twoColumnsLayout {
	width: 77.15%;
	display: grid;
	grid-template-columns: 255px 1fr;
	gap: 30px;
	grid-auto-flow: column;
	padding: 94px 0px 129px 0px;
}

.oneColumnLayout {
	max-width: 49.31%;
	display: grid;
	grid-template-columns: 1fr;
	padding: 80px 0px 129px 0px;
	gap: 24px;
}

@media screen and (max-width: 1200px) {
	.twoColumnsLayout {
		width: 87.15%;
	}
}

@media screen and (max-width: 1024px) {
	.twoColumnsLayout {
		width: 97%;
	}
}

@media screen and (max-width: 768px) {
	.twoColumnsLayout {
		width: 100%;
		padding: 55px 40px;
		grid-auto-flow: row;
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 530px) {
	.twoColumnsLayout {
		padding: 0px;
		gap: 0px;
	}
}
