.layout {
	width: 100vw;
	min-height: 100vh;
	background-color: var(--light-white-color);
}

.layoutContainer {
	width: 77.15%;
	margin: 0 auto;
	padding: 94px 0px 129px 0px;
}

.twoColumnsLayout {
	display: grid;
	grid-template-columns: 255px 1fr;
	gap: 30px;
	grid-auto-flow: column;
}

@media screen and (max-width: 1200px) {
	.layoutContainer {
		width: 87.15%;
	}
}

@media screen and (max-width: 1024px) {
	.layoutContainer {
		width: 97%;
	}
}
