.pill {
	display: inline-flex;
	border-radius: 10px;
	background-color: #f2f4fe;
	max-width: max-content;
	padding: 0px 16px;
	transition: all;
	transition-duration: 0.3s;
	cursor: pointer;
}

.pill:hover {
	background-color: #cfd7ff;
}

.pillDefault {
	height: 30px;
	justify-content: center;
	align-items: center;
	color: var(--blue-color);
}

.pillVariantIcon {
	color: var(--dark-color);
	min-height: 53px;
	min-width: 40px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.pillDefaultActive {
	background-color: var(--blue-color);
	color: var(--white-color);
}

.pillDefaultActive:hover {
	background-color: var(--blue-hover-color);
}

.pillIcon {
	transform: rotate(90deg);
	color: var(--blue-color);
	font-size: 1.1rem;
	font-weight: 900;
}

.pillIconActive {
	color: var(--white-color);
}

.pillVariantIcon .pillText {
	margin-top: 8px;
}

.pillReadOnly {
	cursor: default;
}

.pillReadOnly:hover {
	background-color: #f2f4fe;
}
